body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.box-container:hover {
    background-color: #444;
}